#finalResult {
  display: none;
  background-color: #00FFCC;
  border: dotted #FF00CC 3px;
  margin: 60px;
  padding: 50px;
}

.btn {
  margin-left: 300px;
}

.body {
  background-color: #FF99FF;

}

.form-group {
  background-color: #CCFF00;
  border: dotted #66CCFF 10px;
  margin: 40px;
  padding: 35px;
}

h1 {
  font-family: "Lucida Console", Monaco, monospace;
  border: dotted #FF66CC 6px;
  margin: 25px;
}


